.interface {
    background: #313131;
    color: #ecf0f1;
}

.my-border {
    border: 0.5px solid #1abc9c;
    border-radius: 13px;
}

.my-btn:hover {
    color: #ecf0f1;
    background: #1abc9c;
}

.centered-container {
    position: absolute;
    left: 35%;
}

.my-input {
    border: 0px solid #1abc9c;
    border-bottom-width: 0.5px;
}

.my-input:focus, .my-input:active {
    border-bottom-color: #af7ac5;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    outline: none;
}

.w-color {
    color: #b3b6b7
}

.p-color {
    color: #af7ac5;
}

.g-color {
    color: #1abc9c;
}

.b-color {
    color: #5dade2;
}

.y-color-hover:hover {
    color: #d4ac0d;
}

.o-color {
    color: #dc7633;
}

.o-color-hover {
    border-color: #dc7633;
    background-color: #dc7633;
}

.o-color-hover:hover {
    background-color: #dc7633;
}


input.number-to-text::-webkit-outer-spin-button,
input.number-to-text::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].number-to-text {
    -moz-appearance: textfield;
}

.darker_bg {
    background: #303030;
}
